.DS_Store
Thumbs.db
/fsh-generated
/input-cache
/output
/temp
/template
/**/*.db
/**/*.json

#IG
ig/fsh-generated
ig/input-cache
ig/temp
ig/template
ig/output
ig/my-template/**/.index.db
ig/my-template/**/.index.json
public/ig